<div class="fixed-grid has-2-cols">
  <div class="grid">
    <div class="cell">
      <form
        class="box"
        id="edit-user"
        hx-post="http://192.168.68.106:8080/users"
        hx-swap="innerHTML"
        hx-headers='{"Content-Type": "application/json"}'
        hx-ext="json-enc"
        hx-vals='{"deleted": false}'
      >
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control has-icons-left">
            <input class="input" type="text" name="name" placeholder="Nombre" />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Apellido</label>
          <div class="control has-icons-left">
            <input
              class="input"
              type="text"
              name="last_name"
              placeholder="Apellido"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <input
              class="input"
              type="email"
              placeholder="Enter your email"
              name="email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Rol</label>
          <div class="control">
            <div class="select">
              <select name="role">
                <option value="EDITOR" selected>Editor</option>
                <option value="ADMIN">Admin</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Notas</label>
          <div class="control">
            <textarea
              class="textarea"
              name="notes"
              placeholder="Enter your message"
            ></textarea>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Enviar</button>
          </div>
          <div class="control">
            <button class="button is-link is-light">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
