<div class="columns">
  <div class="column">
    <aside class="menu">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li>
          <a
            hx-get="{{conf.server_protocol}}://{{conf.hbs_target_address}}{{conf.hbs_target_port}}/help_enterprise"
            hx-swap="innerHTML"
            hx-target="#enterprise-help"
          >
            Enterprise
          </a>
        </li>
        <li><a>Clinicas</a></li>
        <li><a>Escuelas</a></li>
      </ul>
      <p class="menu-label">Administration</p>
      <ul class="menu-list">
        <li><a>Usuarios</a></li>
        <!-- <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li> -->
      </ul>
      <p class="menu-label">Transactions</p>
      <ul class="menu-list">
        <li><a>Request Help</a></li>
        <li><a>Fill a Ticket for Admin</a></li>
        <!-- <li><a>Balance</a></li> -->
      </ul>
    </aside>
  </div>
  <div class="column" id="enterprise-help"></div>
</div>
